first-ios-device-name,10.52.36.10,22,sampleUsername$1,samplePassword#1,existingEnablePassword
second-ios-device-name-no-enable-password,10.52.36.20,22,sampleUsername$2,samplePassword#2
third-ios-device-name,10.52.36.30,22,sampleUsername$3, "samplePassword,,,,#3"